/* Root Custom CSS Properties */
:root {
/* typographic custom properties */
  --fs-xsmall: 2rem;
  --fs-small: 3rem;
  --fs-medium: 4rem;
  --fs-large: 6rem;
  --fs-xlarge: 8rem;
/* color custom properties */
  --color-neutral-300: hsl(200, 5%, 70%);
  --color-neutral-400: hsl(197, 7%, 21%);
  --color-primary-400: #FFFD98;
  --color-primary-700: #F26419;
}
/* Base Styles */
html {
  font-size: 62.5%;
  font-family: 'Poppins', 'Arial', sans-serif;
}

body {
  background-color: var(--color-neutral-300);
  color: var(--color-neutral-400);
}


/* Base Layout */
.container {
  width: min(100% - 2rem, 1250px);
  margin-inline: auto;
} 

.main-heading {
  width: fit-content;
  padding-block: 3rem;
}

@media (min-width: 60em) {
  .container-flex {
  padding-inline-start: 2rem;
  display: flex;
  gap: 3rem;
  }
  .horiz-center {
    margin-inline: auto;
  }
  .card_query {
    max-width: 280px;
  }
  .card_cocktail {
  width: min(60% - 2rem, 500px);
  }
}


ul {
  padding-inline-start: 2rem;
}

/* Styling the Cards  */
.card {
  background-color: var(--color-primary-400);
  border-radius: 15px;
  padding-inline: 2rem;
  margin-block-end: 2rem;
  box-shadow: -2px -4px 30px -10px rgba(0, 0, 0, 0.35);
}

.card_query {
  align-self: flex-start;
  text-align: center;
  padding-block: 2rem 1rem;
}

.card_query *,
.card_cocktail * {
  margin-block: 1rem;
}

.card_query h2 {
  margin-block-end: 2rem;
}

.card_cocktail {
  display: none;
}

.card_error {
  background: white;
  text-align: center;
  display: none;
  padding: 5rem;
  width: min(60% - 2rem, 600px);
  border: 10px solid var(--color-primary-400);
}

/* Styling the cocktail form */
#cocktail_input,
#cocktail_search {
  border: none;
  padding: 1rem 0;
  font-size: 2rem;
  border-radius: 5px;
  color: var(--color-neutral-400);
  transition: box-shadow 100ms ease-in,
               transform 80ms ease-in;
}

#cocktail_input {
  max-width: 100%;
  margin-inline: auto;
  text-align: center;
  display: block;
}

#cocktail_search {
  background: white;
  padding-inline: 1rem;
}

#cocktail_input:focus-visible,
#cocktail_search:focus-visible,
#cocktail_search:hover {
  outline: none;
  box-shadow: 0px 0px 10px 0px var(--color-primary-700);
}

.animate {
  transform: translateY(5px);
}

/* Styling the image */

#cocktail_image {
  border-radius: 5px;
  box-shadow: -4px -8px 15px -7px rgba(0, 0, 0, 0.8);
}

/* Typography */

.fs-xsmall {
  font-size: var(--fs-xsmall);
}

.fs-small {
  font-size: var(--fs-small);
}
.fs-medium {
  font-size: var(--fs-medium);
}

.fs-large {
  font-size: var(--fs-large);
}

.fs-xlarge {
  font-size: var(--fs-xlarge);
}