/* Base Styles */
html {
  font-size: 62.5%;
  font-family: 'Poppins', 'Arial', sans-serif;
}

.horiz-center {
  margin-inline: auto;
}

/* Base Layout */
.container {
  width: min(100% - 2rem, 1300px);
} 

.main-heading {
  width: fit-content;
  margin-block: 3rem;
}

/* Styling the Cards  */
.card {
  width: min(50% - 2rem, 400px);
  border: 2px solid black;
  border-radius: 15px;
  padding-inline: 1rem;
  margin-block-end: 2rem;
}

.card_query {
  text-align: center;
}

.card_query *,
.card_cocktail * {
  margin-block: 1rem;
}

.card_query h2 {
  margin-block-start: 2rem;
}


/* Styling the cocktail form */
#cocktail_input {
  display: block;
}

/* Styling the image */

#cocktail_image {
  border-radius: 5px;
  box-shadow: 0px -4px 15px -5px rgba(0, 0, 0, 0.6);
}

/* Typography */